*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #2C3338;
    font-family: Arial, sans-serif;
}
p {
    margin: 0;
}
.container {
    position: relative;
    display: flex;
    width: 1920px;
    height: 1080px;
    background-color: #2C3338;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 160px;

}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item {
    display: none;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.item-active {
    display: block;
}

img {
    width: 1600px;
    height: 950px;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 30px;
}

p {
    color: antiquewhite;
    font-size: 30px;
    margin-top: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 165px;
    bottom: 30px;
}

.btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2271B1;
    cursor: pointer;
}

.unactive:hover {
    background: #FFFFFF;
    transition:  all 1s ease-out;;
}

.active {
    background-color: #2C3338;
    border: 3px solid #2271B1;
}

.active:hover {
    border-color: #FFFFFF;
    transition:  all 1s ease-out;;
}