*{
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #2C3338;
    font-family: Arial, sans-serif;
}
p {
    margin: 0;
}
.container {
    display: flex;
    width: 1920px;
    height: 1080px;
    background-color: #2C3338;
    margin: 0 auto;
    flex-direction: column;
    padding: 1rem 10rem;

}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    flex-direction: column;
}
.item {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

img, p {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

img {
    width: 100rem;
    height: 60rem;
    border-radius: 2%;
    object-fit: cover;
}

p {
    color: antiquewhite;
    font-size: 2rem;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.btn {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #2271B1;
    cursor: pointer;
    border: 0.2rem solid #2271B1;
}
.btn-wrapper {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn-wrapper.unactive:hover {
    background: #FFFFFF;
    transition:  all 0.5s ease-out;
    border: 0.2rem solid #FFFFFF;
}

.active {
    background-color: #2C3338;
    border: 0.2rem solid #2271B1;
}

.btn-wrapper.active:hover {
    border-color: #FFFFFF;
    transition: all 0.5s ease-out;;
}

@media screen and (max-width: 321px) {
    .container {
        width: 320px;
        height: 568px;
    }
    img {
        width: 18rem;
        height: 20rem;
    }
    p {
        font-size: 1.5rem;
    }
    .bottom {
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .btn {
        width: 1.5rem;
        height: 1.5rem;
    }
    .btn-wrapper {
        width: 3rem;
        height: 3rem;
    }
}